AddDefaultCharset UTF-8

RewriteEngine On
RewriteBase /

RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^admin admin.php?%{QUERY_STRING} [PT,L]
RewriteRule ^api/(.*) php/api/$1.php?%{QUERY_STRING} [PT,L]
