@import "config";


.button {
  display: inline-block;
  min-width: 2 * $interval-big + 1rem;
  padding: $interval-x-small $interval-big;
  line-height: 1;

  text-align: center;
  vertical-align: middle;

  outline: 1px solid darken($color-bg, $color-fade-amount);
  cursor: pointer;
  transition: background-color $transition-props, outline-color $transition-props;

  &:hover {
    background-color: darken($color-bg, $color-fade-amount);
    outline-color: darken($color-bg, $color-fade-amount);
  }

  &.narrow {
    min-width: 2 * $interval-x-small + 1rem;
    padding: $interval-x-small;
  }


  @each $name, $color in (red, $color-red), (green, $color-green), (blue, $color-blue), (grey, $color-grey) {
    &.#{$name} {
      background: $color;
      outline-color: darken($color, $color-fade-amount);

      &:hover {
        //color: $color-bg;
        background-color: darken($color, $color-fade-amount);
        outline-color: darken($color, $color-fade-amount);
      }
    }
  }
}
