@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300&subset=cyrillic');
$font-family: 'Roboto Condensed', Helvetica, sans-serif;
$font-size: 18px;
$font-weight: 300;


$interval-big: 2rem;
$interval-small: .5rem;


$color-bg: #fff;
$color-text: #222;
$color-link: hsl(240, 50%, 50%);
