@import "config";


html, body {
  width: 100%;
  min-height: 100%;

  font-family: $font-family;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: 1.5;

  background-color: $color-bg;
  color: $color-text;

  text-align: left;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  margin-top: $interval-big;
  margin-bottom: $interval-small;

  &:last-child {
    margin-bottom: 0;
  }
}


h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.85rem;
}
h3 {
  font-size: 1.60rem;
}
h4 {
  font-size: 1.45rem;
}
h5 {
  font-size: 1.30rem;
}
h6 {
  font-size: 1.20rem;
}


p {
  margin-top: 0;
  margin-bottom: $interval-small;

  &:last-child {
    margin-bottom: 0;
  }
}