@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300&subset=cyrillic");
$font-family: "Roboto Condensed", Helvetica, sans-serif;
$font-size: 18px;
$font-weight: 300;


$screen-min-width: 320px;

$content-min-width: 480px;
$content-max-width: 1400px;


